
body {
    box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lead-hero {
  background: url('https://demo.yootheme.com/themes/joomla/2017/fjord/images/yootheme/home-header-splash.png') 50% 50% no-repeat;
  background-size: contain;
}

img:hover {  
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}