<nav class="main-nav uk-navbar-container uk-navbar-transparent" uk-navbar uk-sticky>  
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li routerLinkActive="uk-active">
        <a routerLink="/">
          <span uk-icon="home"></span>
        </a>
      </li>
    </ul>
  </div>

  <div class="uk-navbar-right">
    <ul *ngIf="data" class="uk-navbar-nav">
      <li class="main-nav__link" routerLinkActive="uk-active">
        <a routerLink="/about">
          About me
        </a>
      </li>

      <li class="main-nav__link" routerLinkActive="uk-active">
        <a routerLink="/works">
          Works
        </a>
      </li>

      <li class="main-nav__link" routerLinkActive="uk-active">
        <a routerLink="/contact">
          Contacts
        </a>
      </li>
    </ul>
  </div>
</nav> 
