/*-----------------------------*\
	GLOBALS:
  SETTINGS, FUNCTIONS,
  VARIABLES, etc
\*-----------------------------*/
@import 'globals';

/*-----------------------------*\
	UIKIT - (do not move)
	custom variables and variable overwrites
\*-----------------------------*/
$global-font-family: $primary-font-stack;
$base-heading-font-family: $secondary-font-stack;
$base-heading-font-weight: 700;
// @import "theme/accordion.scss";
// @import "theme/alert.scss";
// @import "theme/align.scss";

/*-----------------------------*\
	UIKIT - Main globals (do not move)
\*-----------------------------*/
@import '../../node_modules/uikit/src/scss/variables-theme.scss';
@import '../../node_modules/uikit/src/scss/mixins-theme.scss';

/*-----------------------------*\
	Vendors
\*-----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Rubik:400,700&display=swap&effect=anaglyph');

/*-----------------------------*\
	GENERIC AND BASE
\*-----------------------------*/
@import 'generic/base';
@import 'generic/fonts';
@import 'generic/utils';
@import 'generic/overrides';

/*-----------------------------*\
	SHARED/COMMON ELEMENTS/OBJECTS
\*-----------------------------*/
@import 'common/buttons';

/*-----------------------------*\ 	
	UIKIT - (do not move)
	custom mixin overwrites.
\*-----------------------------*/
// @import "theme/accordion-mixins.scss";
// @import "theme/alert-mixins.scss";
// @import "theme/align-mixins.scss";

/*-----------------------------*\
	UIKIT - Core (do not move)
\*-----------------------------*/
@import '../../node_modules/uikit/src/scss/uikit-theme.scss';
