<div id="page#1" class="uk-section-secondary">
  <div data-src="/themes/joomla/2017/fjord/templates/yootheme/cache/home-header-04353716.webp"
    data-srcset="/themes/joomla/2017/fjord/templates/yootheme/cache/home-header-b531d910.webp 768w, /themes/joomla/2017/fjord/templates/yootheme/cache/home-header-f3e02ee2.webp 1024w, /themes/joomla/2017/fjord/templates/yootheme/cache/home-header-a634c554.webp 1366w, /themes/joomla/2017/fjord/templates/yootheme/cache/home-header-74f97464.webp 1600w, /themes/joomla/2017/fjord/templates/yootheme/cache/home-header-04353716.webp 1920w"
    data-sizes="(max-aspect-ratio: 1920/940) 204vh" uk-img=""
    class="uk-background-norepeat uk-background-cover uk-background-bottom-center uk-section uk-section-large uk-flex uk-flex-middle"
    style="background-color: rgb(30, 48, 64);background-image: url(&quot;https://demo.yootheme.com/themes/joomla/2017/fjord/templates/yootheme/cache/home-header-04353716.webp&quot;);min-height: calc((100vh - 80px) - 20vh);">
    <div class="uk-width-1-1">
      <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack t-splash" uk-grid>
          <div class="uk-flex-auto uk-width-1-1@m uk-first-column">
            <h1 class="uk-h5 uk-margin-small uk-text-center uk-scrollspy-inview uk-animation-slide-top">
              <!-- Adventure &amp; Traveling -->
            </h1>
            <h2 class="uk-heading-large uk-margin-small uk-text-center uk-scrollspy-inview uk-animation-slide-top t-title">
              Francesco Stella
            </h2>
            <div class="uk-text-lead uk-margin-small uk-text-center uk-scrollspy-inview uk-animation-slide-bottom"
              uk-scrollspy-class="uk-animation-slide-bottom">Technical Architect</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
