/*------------------------------------------------------------------*\
  FONT FAMILY
    for font families refer to settings/_fonts.scss -> $fonts map
    example usages:
      font-family: font(riccione, xlight);
      font-family: font(freight, 400);
\*------------------------------------------------------------------*/
@function font($font, $default: 'default') {
  @if map-has-key($fonts, $font) {
    @return #{map-get(map-get($fonts, $font), $default)};
    // font-size: rem($size);
  } @else {
    @warn 'Unknown `#{$font}` in $fonts.';
    @return null;
  }
}

/*------------------------------------------------------------------*\
  FONT WEIGHTS
  example usages:
  font-weight: open-sans-weights(book);
\*------------------------------------------------------------------*/
@function open-sans-weights($weight, $default: 'roman') {
  @if map-has-key($open-sans-weights, $weight) {
    @return #{map-get($open-sans-weights, $weight)};
  } @else {
    @warn 'Unknown `#{$weight}` in $open-sans-weights.';
    @return null;
  }
}

/*------------------------------------------------------------------*\
  COLORS
    for color selection
    usage:
      background-color: color(white);
\*------------------------------------------------------------------*/
@function color($name, $tone: 'base', $a11y: false) {
  $colors-map: if($a11y == true, $colors-a11y, $colors);
  @if map-has-key($colors-map, $name) {
    @return map-get(map-get($colors-map, $name), $tone);
  } @else {
    @warn 'Unknown `#{$name}` in $colors/$colors-map.';
    @return null;
	}
}
