<!-- W8KTS-mhFUE -->
<!-- wQLAGv4_OYs -->
<section class="home-screen uk-section-secondary">
  <div class="uk-cover-container" uk-height-viewport>
    <img src="https://source.unsplash.com/wQLAGv4_OYs/1600x900" alt="" uk-cover>
    <div class="uk-width-1-1">
      <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack lead-hero uk-position-absolute uk-position-center" uk-grid>
          <div class="uk-flex-auto uk-width-1-1@m uk-first-column">
            <!-- <h1 class="uk-h5 uk-margin-small uk-text-center uk-scrollspy-inview uk-animation-slide-top">
              Hello! My name is
            </h1> -->
            <h2 class="home-screen__title uk-heading-large uk-margin-small uk-text-center uk-scrollspy-inview uk-animation-slide-top font-effect-anaglyph">
              {{title}}
            </h2>
            <div class="uk-text-lead uk-margin-small uk-text-center uk-scrollspy-inview uk-animation-slide-bottom"
              uk-scrollspy-class="uk-animation-slide-bottom">Senior Web Developer & Technical Architect</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
