<!-- W8KTS-mhFUE -->
<!-- wQLAGv4_OYs -->
<section class="home-screen uk-section-secondary">
  <div data-src="https://source.unsplash.com/wQLAGv4_OYs/1600x900"
    data-srcset="https://source.unsplash.com/wQLAGv4_OYs/1600x900 768w, https://source.unsplash.com/wQLAGv4_OYs/1600x900 1024w, https://source.unsplash.com/wQLAGv4_OYs/1600x900 1366w, https://source.unsplash.com/wQLAGv4_OYs/1600x900 1600w, https://source.unsplash.com/wQLAGv4_OYs/1600x900 1920w"
    data-sizes="(max-aspect-ratio: 1920/940) 204vh" uk-img=""
    class="uk-background-norepeat uk-background-cover uk-background-bottom-center uk-section uk-section-large uk-flex uk-flex-middle"
    style="background-color: rgb(30, 48, 64);background-image: url('https://source.unsplash.com/wQLAGv4_OYs/1600x900');min-height: calc((100vh - 80px) - 20vh);">
    <div class="uk-width-1-1">
      <div class="uk-container">
        <div class="uk-grid-margin uk-grid uk-grid-stack lead-hero" uk-grid>
          <div class="uk-flex-auto uk-width-1-1@m uk-first-column">
            <h1 class="uk-h5 uk-margin-small uk-text-center uk-scrollspy-inview uk-animation-slide-top">
              <!-- Adventure &amp; Traveling -->
            </h1>
            <h2 class="home-screen__title uk-heading-large uk-margin-small uk-text-center uk-scrollspy-inview uk-animation-slide-top font-effect-anaglyph">
              {{title}}
            </h2>
            <div class="uk-text-lead uk-margin-small uk-text-center uk-scrollspy-inview uk-animation-slide-bottom"
              uk-scrollspy-class="uk-animation-slide-bottom">Senior Web Developer & Technical Architect</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
